.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr)); /* Adjust as needed */
  gap: 10px;
  padding: 20px;
}

.app-wide-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 2fr)); /* Adjust as needed */
  gap: 10px;
  padding: 20px;
}

.pie-chart-container {
  width: 100%;
  height: 100%;
  border: 1px solid #3c3b3b;
  border-radius: 8px;
  overflow: hidden; /* Ensures the pie chart stays within its container */
  /* 3D soft-looking shadow effect */
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.1), /* Soft shadow layer at the top */
    0 6px 15px rgba(0, 0, 0, 0.1), /* More pronounced shadow layer */
    0 10px 24px rgba(0, 0, 0, 0.1); /* Even more pronounced shadow layer */
}
.bargraph-container {
  width: 100%;
  height: 100%;
  border: 1px solid #3c3b3b;
  border-radius: 8px;
  overflow: hidden; /* Ensures the pie chart stays within its container */
  /* 3D soft-looking shadow effect */
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.1), /* Soft shadow layer at the top */
    0 6px 15px rgba(0, 0, 0, 0.1), /* More pronounced shadow layer */
    0 10px 24px rgba(0, 0, 0, 0.1); /* Even more pronounced shadow layer */
}
